
.drop-down.nav-item.dropdown .nav-link {
    padding: 0.5rem 1rem;
    color: #FFFF00 !important;
    text-decoration: none;
}
a {
    
    text-decoration: none !important;
  }

.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: -5% 0 0 10% !important;
    font-size: 1rem;
    color: #212529 !important;
    text-align: left;
    list-style: none;
    background-color: transparent !important;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
}

a.home {
    color: #FFFF00 !important;
    font-weight: 600;
    font-size: 20px;
}
a.learn {
    color: #FFFF00 !important;
   font-weight: 600;
}
.link-text a{
color: #fff !important;
}

.dropdown-item.active, .dropdown-item:active {
    color: #f1c40f !important;
    text-decoration: none;
    background-color: transparent !important;
}


