.footer-paragraph {
    color: #f1c40f;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    padding: 0px 18%;
}

.img-fluid.brand-logo {
    text-align: -webkit-center;
    border-radius: 20%;
}





